* {
    margin: 0px auto;
    padding: 0px;
    /* outline: 1px solid red; */
}

#container {
    background-color: black;
    width: 970px;
    min-height: 1200px;
    padding: 5px 10px;
}

.header {
    background-color: rgb(27, 27, 27);
    width: 920px;
    height: 75px;
    padding: 30px 25px;
}

.playNice {
    display: inline-block;
}

.rightP {
    color: white;
    font-size: 16px;
    vertical-align: top;
    margin-left: 546px;
    margin-top: 15px;
}

.nav {
    width: 955px;
    text-decoration: none;
    text-align: middle;
    background: linear-gradient(rgb(82, 82, 82),rgb(70, 70, 70),rgb(45, 45, 45));
    list-style: none;
    padding: 8px;
}

.nav li {
    display: inline-block;
    margin-left: 15px;
    color: darkgray;
}

.nav a {
    color: rgb(163, 163, 163);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    justify-content: space-around;
}
#home {
    color:rgb(209, 209, 209);
    font-weight: bold;
    margin-left: 15px;
}
span {
    margin-left: 15px;
}

.arrow {
    font-size: 9px;
    font-weight: bold;
    margin: 0px;
    margin-left: 5px;
}

#lastLine {
    margin-left: 135px;
    font-size: 28px;
}

.bar {
    color: rgb(56, 56, 56);
    font-size: 30px;
}

.top-content img {
    width: 970px;
    border-bottom: 5px solid rgb(59, 59, 59);
}

#widgets {
    background-color: rgba(29, 28, 28, 0.959);
    min-height: 60px;
    width: 944px;
    padding: 40px 18px;
}

.miniImg, .miniImg2, .info2, .info{
    vertical-align: top;
}

.miniImg > img {
    width: 46px;
}

.miniImg2 > img {
    width: 38px;
    margin-left: 10px;
}

.info, .info2 {
    margin-left: 12px;
}

.info > h3 {
    color: rgb(239, 127, 44);
    width: 180px;
    margin-bottom: 5px;
    display: inline-block;
}

.info2 > h3 {
    color: rgb(239, 127, 44);
    width: 134px;
    margin-bottom: 5px;
    display: inline-block;
}

.info  p {
    color: white;
    width: 178px;
    font-size: 14px;
}

.info2 p {
    color: white;
    width: 165px;
    font-size: 14px;
}

.mid-Size {
    padding: 30px;
}

.stuff {
    width: 685px;
    vertical-align: middle;
}

.stuff > p {
    color: white;
    font-size: 14px;
    width: 585px;
    margin-right: 200px;
}

#title {
    font-size: 27px;
}
.mid-Size > #btn {
    background: linear-gradient(rgb(241, 145, 74),rgb(239, 130, 48));
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    padding: 10px 16px;
    width: 125px;
    margin-left: 90px;
}

#title {
    margin-top: 6px;
    margin-bottom: 6px;
}

.title p {
    color: white;
    font-size: 20px;
    padding: 15px;
    margin-left: 2px;
    display: inline-block;
}


.title a {
    color: rgb(239, 127, 44);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 746px;
}

.Pix {
    min-height: 200px;
    margin-top: 10px;
}

.Btm {
background-color: rgba(29, 28, 28, 0.959);
width: 975px;
}

.containPic {
    width: 220px;
    margin-left: 18px;
    vertical-align: top;
}

.containPic img {
    border: 5px solid rgb(54, 54, 54);
}

.containPic h3 {
    color: rgb(239, 127, 44);
    font-size: 18px;
    padding: 5px;
}

.containPic p {
    color: white;
    font-size: 13px;
    padding: 5px;
}

#footer {
    background-color: rgba(29, 28, 28, 0.959);
    padding: 50px 0px 0px;
    width: 975px;
}

#footer a {
    color: gray;
    font-size: 11px;
    text-decoration: none;
    display: block;
    margin-left: 892px;
    width: 90px;
}


